In [1]:
import pandas as pd

In [2]:
df_securities = pd.read_csv('Securities.csv')
df_securities

,Date,AAPL,ABBV,AMZN,BRK-B,BTC-USD,CVX,GOOG,GOOGL,HD,...,XLB,XLE,XLF,XLI,XLP,XLU,XLV,XLY,XOM,XTL
0,2000-01-03,0.999442,NaN,4.468750,35.299999,NaN,41.812500,NaN,NaN,65.187500,...,25.968750,26.562500,18.582453,28.843750,22.750000,27.453125,30.296875,30.125000,39.156250,NaN
1,2000-01-04,0.915179,NaN,4.096875,34.080002,NaN,41.812500,NaN,NaN,61.750000,...,25.718750,26.062500,17.770105,28.046875,22.109375,26.625000,29.609375,29.218750,38.406250,NaN
2,2000-01-05,0.928571,NaN,3.487500,34.639999,NaN,42.562500,NaN,NaN,63.000000,...,26.781250,26.750000,17.630484,27.921875,22.500000,27.296875,29.343750,28.859375,40.500000,NaN
3,2000-01-06,0.848214,NaN,3.278125,36.080002,NaN,44.375000,NaN,NaN,60.000000,...,27.468750,27.781250,18.404753,28.296875,22.921875,27.250000,29.437500,29.187500,42.593750,NaN
4,2000-01-07,0.888393,NaN,3.478125,36.400002,NaN,45.156250,NaN,NaN,63.500000,...,27.453125,28.078125,18.709383,29.375000,24.375000,27.484375,29.796875,30.562500,42.468750,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6721,2022-12-26,NaN,NaN,NaN,NaN,16919.804688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6722,2022-12-27,130.029999,162.990005,83.040001,305.549988,16717.173828,179.630005,87.930000,87.389999,319.549988,...,78.589996,87.989998,33.939999,98.690002,75.540001,71.349998,135.750000,127.330002,110.190002,80.769997
6723,2022-12-28,126.040001,162.229996,81.820000,303.429993,16552.572266,176.979996,86.459999,86.019997,315.730011,...,77.389999,86.019997,33.820000,97.400002,74.599998,70.669998,134.869995,126.260002,108.379997,79.629997
6724,2022-12-29,129.610001,162.559998,84.180000,309.059998,16642.341797,178.320007,88.949997,88.449997,320.410004,...,78.230003,86.919998,34.290001,98.599998,74.919998,71.180000,136.339996,129.509995,109.199997,81.650002
6725,2022-12-30,129.929993,161.610001,84.000000,308.899994,16602.585938,179.490005,88.730003,88.230003,315.859985,...,77.680000,87.470001,34.200001,98.209999,74.550003,70.500000,135.850006,129.160004,110.300003,81.610001

In [3]:
for col in list(df_securities.columns):
    first_valid_index = df_securities[col].first_valid_index()
    if first_valid_index > 0:
        df_securities[col][0:first_valid_index-1] = 'Null'
    
df_securities.fillna(method='ffill', inplace=True)
df_securities['Date'] = pd.to_datetime(df_securities['Date']).dt.date

/var/folders/_v/r0z_prd90rqfd14czp946kb80000gn/T/ipykernel_47084/227022585.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_securities[col][0:first_valid_index-1] = 'Null'

In [4]:
main_df = pd.read_csv('macroeconomic_indicators.csv')
main_df['Date'] = pd.to_datetime(main_df['Date']).dt.date

In [5]:
final_df = main_df.merge(df_securities, how='left', left_on = 'Date', right_on = 'Date')
final_df.fillna(method='ffill', inplace=True)
final_df.replace('Null', 0).to_csv('final_output.csv', index=False)

final_df

,Date,AAA Corporate Bond,BAA Corporate Bond,1-MTH Treasury Maturity,5-YR Treasury Maturity,10-YR Treasury Maturity,Gold,1-YR Treasury Bill,3-MTH Treasury Bill,4-WK Treasury Bill,...,XLB,XLE,XLF,XLI,XLP,XLU,XLV,XLY,XOM,XTL
0,2000-01-01,7.78,8.33,3.67,6.50,6.58,284.59,5.72,5.27,3.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-02,7.78,8.33,3.67,6.50,6.58,284.59,5.72,5.27,3.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,7.78,8.33,3.67,6.50,6.58,284.59,5.72,5.27,3.61,...,25.968750,26.562500,18.582453,28.843750,22.750000,27.453125,30.296875,30.125000,39.156250,Null
3,2000-01-04,7.78,8.33,3.67,6.40,6.49,283.70,5.68,5.27,3.61,...,25.718750,26.062500,17.770105,28.046875,22.109375,26.625000,29.609375,29.218750,38.406250,Null
4,2000-01-05,7.78,8.33,3.67,6.51,6.62,282.10,5.69,5.28,3.61,...,26.781250,26.750000,17.630484,27.921875,22.500000,27.296875,29.343750,28.859375,40.500000,Null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8396,2022-12-27,4.43,5.59,3.87,3.94,3.84,1823.10,4.52,4.35,3.62,...,78.589996,87.989998,33.939999,98.690002,75.540001,71.349998,135.750000,127.330002,110.190002,80.769997
8397,2022-12-28,4.43,5.59,3.86,3.97,3.88,1815.80,4.49,4.35,3.57,...,77.389999,86.019997,33.820000,97.400002,74.599998,70.669998,134.869995,126.260002,108.379997,79.629997
8398,2022-12-29,4.43,5.59,4.04,3.94,3.83,1826.00,4.48,4.34,3.88,...,78.230003,86.919998,34.290001,98.599998,74.919998,71.180000,136.339996,129.509995,109.199997,81.650002
8399,2022-12-30,4.43,5.59,4.12,3.99,3.88,1826.20,4.51,4.30,3.95,...,77.680000,87.470001,34.200001,98.209999,74.550003,70.500000,135.850006,129.160004,110.300003,81.610001
8400,2022-12-31,4.43,5.59,4.12,3.99,3.88,1826.20,4.51,4.30,3.95,...,77.680000,87.470001,34.200001,98.209999,74.550003,70.500000,135.850006,129.160004,110.300003,81.610001